[Unit]
Description=Le-ou-la FastAPI Backend
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/thinkering/le-ou-la-vite
ExecStart=/home/ubuntu/thinkering/le-ou-la-vite/prod.sh
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
