# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ['main']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js + pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_25519
          chmod 600 ~/.ssh/id_25519
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Install frontend
        run: pnpm install

      - name: Build frontend
        run: pnpm build

      - name: Upload frontend build to server
        run: |
          rsync -avz --delete ./dist/ \
            ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }}:${{ secrets.HOME_PATH }}/le-ou-la-vite/dist/

        